.component {
  color: white;
  text-transform: uppercase;
}

.component svg {
  fill: white;
  width: 20px;
  padding: 24px;
  transition: fill 0.15s;
}

@media (hover: hover) {
  .component svg:hover {
    fill: #009ee0;
  }
}

.component svg:active {
  fill: #009ee0;
}
