.component {
  color: white;
  padding: 16px 8px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 6px;
}

.component::after {
  content: "v";
  font-size: small;
}

.component:hover {
  color: #288bd0;
  transition: color 0.15s;
}
