.component {
  padding: 0px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  background-color: #232323;
  color: white;
  text-transform: uppercase;
}

.accent {
  color: #009ee0;
}

.menuItemContainer {
  display: flex;
  gap: 16px;
}

.loadingLabel {
  padding: 16px 8px;
}
