.component {
  box-sizing: border-box;
  padding: 0px 16px;
  display: flex;
  align-items: center;
  gap: 6px;
}

@media (hover: hover) {
  .component:hover {
    color: #288bd0;
    transition: color 0.15s;
  }
}
